//変数
$font-color_default: #111;
$font-corp:#e3a8b1;


$font-size_default: 16px;
$font-size_l:40px;
$font-size_m:25px;
$font-size_s:15px;
$font-size_xs:10px;
$font-size_xxs:5px;

$background_main: url(../asset/backgroud.jpg);
$color_blue: #005FFF;
$color_gray:#EEEEEE;

//map変数

$breakpoints: (
  'sm': 'screen and (max-width: 641px)',
  'md': 'screen and (min-width: 641px)',
) !default;


//mixin

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
//=======================
//base
//=======================


html, body {
  width: 100%;
  color: $font-color_default;
  font-size: $font-size_default;
  line-height: 1.6;
  font-family: 'Noto Sans JP', sans-serif ,Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; // TODO:リファクタ必要（変数にする）
  text-size-adjust: 100%;
  letter-spacing: 0.1em;
  
}

body{
  display:none;
}

p, a {
  -webkit-font-smoothing: antialiased;
}

a {
  color: $font-color_default;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  transition: .3s;
}

img {
  vertical-align: middle;
  max-width: 100%;
}


.site-title{
    justify-content: center;
    display: flex;
    justify-content: center;
        align-items: center;
}

iframe{
  margin:0 auto;
  display: block;
}

table{
  margin: 0 auto;
}


//==========================
//section
//=========================
.index{
@include mq(sm){
display: none;
}
}

// ==================================
// header
// ==================================
header {
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
  z-index: 2;
  
  
    h1{
        @include mq(){
          font-size: $font-size_l;
        }
        margin-left: 30px;
    }

    p{
      margin-left: auto;
      margin-right: 40px;
    }
}
  
//=======================
// panel
//======================

.index-panel{
  display: inline-block;
  line-height: 50px;
  margin-right: 5px;
   &__sp{
     display: block;
     height: 20px;
   }

  p:hover{
    background-color: $color_blue;
    color:white;
  }
   p{
    padding: 0 20px;
  }
}


.panel{
  &__roomplan-left {
    margin-bottom: 20px;
    padding: 0;
    position: relative;
    margin-right: 20px;
    text-align: center;
    @include mq(){
    float: left;
    width: 40%;}
    li{
    max-height: 100px;
    margin-bottom: 20px;
    position: relative;
    font-size: $font-size_m;
    line-height: 100px;
    background-color:$color_gray;
    @include mq(sm){
      font-size: $font-size_s;
    }
    }
    li:hover{
        background-color: $color_blue;
        a{
          color:white;
      }
    }
    }
  

  &__roomplan-right{
    @include mq(){
    float: right;}
  }

  &__gallery{
    height: 60px;
    margin-bottom: 20px;
    position: relative;
    font-size: 20px;
    line-height: 50px;
    background-color:#EEEEEE;
    margin:0 10px;
    @include mq(sm){
      margin: 0 auto 10px;
      width:60%;
     }
    @include mq(){
      width: 15%;
    }
    p{
      padding: 5px 20px;
    }
    p:hover{
      background-color: $color_blue;
      color:white;
    }
  }
  
}


//======================
//トップナビゲーション
//======================
.pagetop {
  display: none;
  position: fixed;        
  background-color:$color_blue; 
  color: white;   
  padding:  20px;           
  left:  1100px;                
  top: 500px; 
  width:80px;
  height: 80px;
  border-radius: 50%;        
  text-align: center;
  vertical-align: middle;
  p{
    line-height: 80px;
  }
  
}

//==================================
//image
//==================================


.main-image{
  margin:  0 auto;
  width:90%;
  
}


//===================================
//slider
//===================================


  body .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: transparent;
    }

   .bxslider img {
    margin:0 auto;
    display:block;
    }
   

    .bx-wrapper ul li { 
      display: flex;
    }

    .custom-thumb img{
      
      width:160px;
      height:auto;

      @include mq(sm){
      width: 20%;
      height:auto;
      }
    }

    
// ==================================
// container
// ==================================
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-height: 300px;
  text-align: center;
    
    &-maintitle{
      background-image: $background_main;
      width:80%;
      height: 100%;
      display: flex;
      align-items: center;
      @include mq(sm){
        .maintitle__sub{
          display:none;
        }
      }
    }
    
    &-title {
    color: $color_blue;
    text-align: center;
    font-size: 30px;
    margin:40px auto;
     @include mq(sm){
       font-size:$font-size_m;
     }
    }
    
    
    &-panels{
      text-align: center;
      @include mq(){
        display: flex;
        justify-content: center;
      }
    }
    &__topimage{
      margin: 0 auto ;
      
    }

    &__roomplan{
      width:75%;
      margin: 30px auto 50px;
      @include mq(){
      overflow: hidden;}
    }
    &__gallery{
      width:100%;
      margin: 30px auto 0; 
    }

    &__location{
      @include mq(){
      display: flex;
      align-items: center;
      justify-content: center;
      }
      img{
        margin: 5px;
        @include mq(){
        width:500px;
        height:320px;}
      }
      }
    }
 
  
  .inner{
    @include mq(){
      width:70%;
      margin: 80px auto 80px ;
    }
    background-image: $background_main;
    
    .contact {
      border: 1px solid black;
      @include mq(){
      display:flex;
      justify-content: center;
      align-items: center;
      }

      
      p{
      @include mq(){
        float:left;
      }
      margin: 20px 20px;
      text-align: center;

      @include mq(sm){
       margin: 20px auto; 
      }
      }
      span{
        line-height: 50px;

      }
      
      &__vacant{
        font-size:20px; 
        color:white; 
        height:50px; 
        width:120px; 
        border:1px solid black; 
        background-color:$color_blue;
      }

      
     }
  }


  //=====================
  //content
  //=====================

  .content{
    width:80%;
    margin: 0 auto;
    text-align: center;
    &__sub{
      text-align: left;
        &-rosen{
          width:240px;
          margin-left:60%;
          margin-top: -30px;
          margin-bottom: 30px;
          @include mq(sm){
            margin: 10px auto;
            width:100%;
          }
        }
      
    }
  }

  .sub-title{
    display: flex;
  align-items: center;
   line-height: 40px;
   margin-bottom: 20px;
  }

  .sub-title:before, .sub-title:after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background: black;
    display: block;
  }
  .sub-title:before {
    margin-right: .4em;
  }
  .sub-title:after {
    margin-left: .4em;
  }

  .rosen{
    margin-top:40px;
    img{
      width:760px;
      height:auto;
    }

  }
  

  //============
  //copy
  //===============

  .copy{
    &__main{
      font-size: $font-size_m;
      @include mq(sm){
        font-size: $font-size_s;
      }
    }
    
    &__sub{
      font-size:$font-size_xxs;

      @include mq(sm)
    }

  }


  //===============
  //table
  //===============

  tr{
    border-bottom:0.5px dashed $color_gray;
    height: 60px;
    @include mq(sm){
      height: 50px;
      font-size: $font-size_xs;
    }
    td {
      vertical-align: middle;
      }
      th {
        vertical-align: middle;
        width:30%;
        }
  }


//===================
//MAP
//====================

.googlemap iframe{
  width:80%;
  height: 300px;
}

@include mq(){
.googlemap{
  position:relative;
  width:60%;
  height:0;
  padding-top:35%;
  margin: 0 auto;
}
.googlemap iframe{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
}
 


//===================
//ハンバーガーメニュー
//===================

.navToggle {
  display: block;
  margin-left:auto;
  margin-right:10px;    
 position: relative;
  width: 42px;
  height: 42px;
  cursor: pointer;
  z-index: 3;
  background: #666;
  text-align: center;
  @include mq(){
    display: none;
  }
}

.navToggle span {
  display: block;
  position: absolute;   
  width: 30px;
  border-bottom: solid 3px #eee;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
  left: 6px;
}

.navToggle span:nth-child(1) {
  top: 9px;
}

.navToggle span:nth-child(2) {
  top: 18px;
}

.navToggle span:nth-child(3) {
  top: 27px;
}

.navToggle span:nth-child(4) {
  border: none;
  color: #eee;
  font-size: 9px;
  font-weight: bold;
  top: 34px;
}

/* 最初のspanをマイナス45度に */
.navToggle.active span:nth-child(1) {
  top: 18px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* 2番目と3番目のspanを45度に */
.navToggle.active span:nth-child(2),
.navToggle.active span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}



nav.globalMenuSp {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background: #fff;
  color: #000;
  text-align: center;
  transform: translateY(-100%);
  transition: all 0.6s;
  width: 100%;
}

nav.globalMenuSp ul {
  background: #ccc;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  font-size: 1.1em;
  list-style-type: none;
  padding: 0;
  width: 100%;
  border-bottom: 1px dotted #333;
}

/* 最後はラインを描かない */
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #000;
  padding: 1em 0;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  transform: translateY(0%);
}


//==================
//フッター
//==================

footer{
    width:100%;
    text-align: center;
  font-size: 12px;
    background: white;
  color: #111111;
}

.fnav{
  background-image: $background_main;
  text-align: center;
    @include mq(sm){
    overflow: hidden;
    }

  li{
    @include mq(){
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
    a{
      padding: 0 10px 0 5px;
      border-right: 1px solid #555555;
    }
    }

    @include mq(sm){
      float: left;
      width: 50%;
      box-sizing: border-box;
      line-height: 1;
      padding: 10px 0;
    }

    
   }
  
   li:hover{
     text-decoration: underline;
   }


   /*レスポンシブ　フッターメニュー区分線*/
    @include mq(sm) {
    li:nth-child(odd) {
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    }

    li:nth-child(even) {
      border-bottom: solid 1px #ccc;
    }

    li:last-child{
      border-bottom:none;
    }


}
}